
@font-face {
	font-family: play;
	src:url(../fonts/Play-Regular.ttf);
}
a{
    text-decoration: none;
    text-transform: none;
}
#table {
    margin-bottom: 50px;
    border-collapse: collapse;
    color:#fff;
    border-radius: 5px;
    margin-top: 50px;
    width: 1000px;
    background:rgba(0,0,0,.8);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.table-row , .table-column {
    padding: 15px 30px;
}
.table-row{
    color: #9e9e9e;
    border: solid 2px #562424;
}
.table-price{
    text-align: center;
    border: solid 2px #562424;
}
.title{
    height: 90px!important;
    border-collapse: collapse;
    color:rgb(206, 17, 17);
    font-size: 2rem;
    padding: 20px 30px;
}
.description{
    height: 100%;
    border-top: solid 2px #562424;;
    border-left: solid 2px #562424;
    width: 100%;
}
.price{
    height: 100%;
    border: solid 2px #562424;
    text-align: center;
    width: 20%;
}



.donate-div{
    margin:auto;
    width: 1000px;
}

.buy-icon{
    padding: 5px 12px;
    display: inline-block;
    width: 250px;
    background: red;
    border: 2px solid #888;
}

.buy-icon a{
    width: 100%;
    height: 100%;;
}
.buy-icon a h4{
    width: 70%;
}
.buy-icon a h4 , .buy-icon a i {
    display: inline-block;
}

.dona {
    width: 1000px;
    margin-bottom: 50px;
    margin: auto;
}

.buy-container{
    width: 100%;
    display:inline-block;
    transition: all 2s;
}
.buy-container ul {
    display:none;
}
.buy-container a{
    
    color: #9e9e9e;
    display: block;
    padding: 15px 20px;
}

.buy-container a:hover{
    background: #888;
    color:rgb(82, 20, 20);
}

.buy-list{
    position: relative;
    left: -2px;
    background: #030303;
    width: 1000px;
    height: 60px;
    font-size: 1.2rem;
    border: solid 2px #562424;
}
.buy-list span {
    padding-left: 10px;
    display: inline-block;
    width: 70%;
}
.buy-list svg{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}
.choice{
    position: relative;
    color: #9e9e9e;
    padding-top: 10px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    list-style: none;
    background: #030303;
    border: solid 2px #562424;
}
.choice svg.fa-shopping-cart{
    font-size: 1.6rem;
    position: absolute;
    right: 20px;
    top:15px;
}
.choice h5{
    padding: 5px 34px;
    height: 100%;
    margin: 0;
    display: inline-block;
    font-size: 1.25rem;
}
.dona-paypal{
    display: inline-block;
}
.dona-paypal h5{
    padding: 5px 28px;
}
.dona-paypal svg{
    font-size: 1.4rem;
}
.choice ul {
    position: relative;
    margin-bottom :30px;
    list-style: none;
}
.choice a:hover li{
    display: block;
}

.footer{
    margin-top: 40px;
}

@media screen and (max-width: 1050px){
    #table{
        width: 90%;
    }
    .donate-div{
        width: 90%;
    }
    .dona{
        width: 90%;
    }
    .buy-container , .choice {
        width: 100%;
    }
    .buy-list{
        width: 101%;
    }
}