*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* MultiSlider ######################################################*/
.mixedSlider-container{
    position: relative;
    width: 1000px;
    margin: auto;
}

#mixedSlider .MS-content {
  position: relative;  
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
}

#mixedSlider .MS-content .item {
  margin-top: 50px;
  background: #000;
  display: inline-block;
  width: 33.3333%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 10px 10px;
}

#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
  cursor: pointer;
}
#mixedSlider .MS-content .item .imgTitle img:hover{
    opacity: .4;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-style: italic;
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  opacity: .4;
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  opacity: 1;
}

#mixedSlider .MS-controls .MS-left {
  top: 120px;
  left: 50px;
  width: 50px;
  height: 100px;
}
#mixedSlider .MS-controls .MS-left img{
    width: 100%;
}
#mixedSlider .MS-controls .MS-right img {
  width: 100%;
  transform: scaleX(-1);
}

#mixedSlider .MS-controls .MS-right {
  top: 120px;
  right: 50px;
  width: 50px;
  height: 100px;
}

#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}

.description{
    display: block!important;
}
.server-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#onlines-count , #server-state{
    display: inline-block;
}
#server-state , #onlines-count span{
    font-weight: bold;
}
#count{
    font-weight: normal!important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 250; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
     /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    justify-content: center;
    background-color: rgba(0,0,0,.9);
    margin: -5% auto;
    padding-bottom: 100px;
    border: 1px solid #888;
    width: 95%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: rgba(255 , 255, 255, 0.5)!important;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    width: 100px!important;
    height: 100px!important;
    position: absolute;
    right: 0;
    margin:0!important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    height: 100px;
}

.modal-body {
    padding: 0 10%;
    height: 95%;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    display:none;
}

@font-face {
	font-family: play;
	src:url(../fonts/Play-Regular.ttf);
}
@font-face {
	font-family: masseffect;
	src:url(../fonts/me123.ttf);
}
/* Online Button#########################################################################*/
.online-button{
    background:red;
    color:white;
    position:fixed;
    right:10px;
    width: 150px;
    height:50px;
    padding: 10px;
}
/* Divisor #############################################################################*/
.line{
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgb(49, 49, 49) 0%,rgb(39, 39, 39) 65%,rgb(251, 5, 5) 66%,rgb(119, 3, 3) 100%);
}

body{
    font-family: play;
    background: #000;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-image: url("../img/fondo.png");
    background-attachment: fixed;
    padding-bottom: 50px;
}
/* Menu #######################################################################################*/
.nav-w{
    width: 1050px;
    margin:auto;

}
.li-container{
    display:flex;
    width: 100%;
}
.li-nav a{
    font-size: 1.3rem;
    display:block;
    padding: 5px 20px;
    color:white;
}
.li-nav{
    border-radius: 4px;
    margin-right: 5px;
    background: linear-gradient(to bottom, rgb(86, 86, 86) 0%,rgb(31, 33, 33) 50%,rgb(0, 0, 0) 51%,rgb(12, 12, 12) 100%);
    font-weight: bold;
    list-style: none;
    width: 25%;
    text-align: center;
}
.li-active {
    background: linear-gradient(to bottom, rgb(223, 69, 69) 0%,rgb(230, 62, 62) 50%,rgb(179, 10, 10) 51%,rgb(214, 4, 4) 100%)!important;
}
.li-nav:hover{
    background: linear-gradient(to bottom, rgb(223, 69, 69) 0%,rgb(230, 62, 62) 50%,rgb(179, 10, 10) 51%,rgb(214, 4, 4) 100%);
 
}
.nav-w ul{
    height: 38px;
    display:flex;
    position: relative;
    left: -30px;
    top: 5px;
    width: 100%;
}
#ironAo-menu input{
    display:none;
}
.icon-menu span{
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-right: 30px;
    display:none;
}
.menu-container{
    margin:auto;
    padding: 0;
    align-items: unset;
    margin-bottom: 20px;
    height: 80px;
    top:5px;
}

.menu-list {
    position: relative;
    padding:0;
}

a:link{
    text-decoration: none;
}

.sword {
    position: relative;
    width: 100%;
    bottom:5px;
}
#ironAo-menu{
    width: 65%;
    padding:0;
}
.ironAo-icon{
    top:-12px;
    margin:0;
    padding:0;
    width: 37%;
    position:relative;
    z-index: 20;
}
.ironAo-icon a{
    width: 95%;
    margin:0;
}
.h1 {
    position:absolute;
    color:white;
}

.h1 strong{
    color:rgb(220, 11, 11);
}

.menu-buttons{
    max-width: 24%;
    background: linear-gradient(to bottom, rgb(86, 86, 86) 0%,rgb(47, 48, 48) 50%,rgb(5, 5, 5) 51%,rgb(0, 0, 0) 100%);
    border-radius: 3px;
    height: 35px;
    margin-left:5px;
}

.menu-buttons a{
    color: white;
    font-size: 1.2rem;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    height: 35px;
}
.menu-buttons a:hover{
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(83, 83, 83) 0%,rgb(39, 39, 39) 50%,rgb(27, 27, 27) 51%,rgb(22, 22, 22) 100%);
}
.menu-buttons a:active{
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(196, 66, 66) 0%,rgb(184, 64, 64) 50%,rgb(255, 3, 3) 51%,rgb(240, 14, 14) 100%);
}

/* Slider ###############################################################################*/

.slider{
    width: 1000px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(90, 89, 89);
    background: #000;
    height: 450px;
}

.slider-img{
    height: 415px;
    padding: 10px 10px 70px 10px;
    cursor:pointer;
}

.slider-description{
    height: 90px;
    overflow:hidden;
    padding:0;
    margin:0;
    top:353px;
    left:0;
}

.slider-description h4 ,.slider-description p{
    text-align: start;
    margin-left: 20px;
}

.slider-description h4{
    padding-top: 4px;
    font-size: 1.3rem;
}

.slider-arrows{
    position:relative;
    top:-30px;
}

.divider{
    width: 40vw;
}

/* Another Slider ##############################################################*/


/*Cards###############################################################*/
.cards-3{
    width: 100%!important;
}
.cards-div2{
    width: 1000px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
.cards-div{
    width: 1000px;
    margin:auto;
    height: 350px;
    margin-top: 50px;
}
.cards-1 , .cards-2{
    display: inline-block;
    height: 100%;
    overflow:hidden;
}

.cards-2{
    width: 34%;
}

.cards-1{
    width: 64%;
}

.cards-1 img{
    position: relative;
    z-index: 10;
}

.cards-1 div h4 , .cards-2 div h4{
    box-shadow: 0 5px rgba(255, 0, 0, 1);
    margin-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 290px;
    position:absolute;
    color:white;
    z-index: 30;
}
.cards-2 div img{
    position:relative;
    z-index: 10;
}
.cards-2 div h4{
    width:190px;
}
.cards-21{
    display: none;
    height: 280px;
    margin-bottom:40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.news div.news-section{
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 30px;
    padding-left:15px;
    padding-right: 25px;
    color: white;
    font-size: .9rem;
    max-height: 600px;
    min-height: 250px;
}
.news{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 50px;
    padding-left:15px;
    padding-right: 25px;
    padding-bottom:60px;
    color: white;
    font-size: .9rem;
}
.new-notice{
    max-height: 800px;
}
.news-divisor{
    width: 100%;
    position:relative;
    height: 150px;
    overflow: hidden;
}
.news a{
    position:relative;
    z-index: 10;
    padding-top: 10px;
}
.news-divisor img{
    position:absolute;
    width:80%;
    bottom:0;
    top:0;
    left:0;
    right: 0;
    margin:0 auto;
}
.news-section p{
    padding-bottom: 15px;
}
.news-section h5{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
}
.news-section  img{
    float: left;
    margin-top:20px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding:5px;
    border: 1px solid white;
    height: 200px;
    width: 200px;
}
.paragraph-container{
    height: 90%;
    overflow: hidden;
}
.card-content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 30px;
    padding-left:15px;
    padding-right: 25px;
    color: white;
    font-size: .9rem;
    height: 295px;
}
.card-content p, .news p{
    max-height: 400px;
    overflow:hidden;
    display:inline;
}
.card-content a, .news a{
    display:inline-block;
    padding-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}
        /*Card Table####*/
.card-table{
    height: 259px;
    background: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    top:-20px;
    position: relative;
    padding-top: 30px;
    margin-left:0;
    margin-right: 25px;
    color: white;
    width: 100%;
}
.card-table li{
    list-style: none;
    font-size: 1.2rem;
}
.card-table{
    padding-top: 40px;
}

/* Video ##############################################################*/  

.video-trailer{
    margin:auto;
    width: 1000px;
}

.video1 h4{
    box-shadow: 0 5px rgba(255, 0, 0, 1);
    margin-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 290px;
    position:absolute;
    color:white;
    z-index: 30;
}
.video1 img {
    position:relative;
    z-index: 10;
}
.video2{
    height: 100vh;
    position: relative;
    background: #000;
    top:-17px;
    border:solid 0.5px rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.video2 iframe{
    width: 90%!important;
    height: 80%!important;
    margin-top: 7%;
    margin-left: 5%;
}
.video-trailer div video{
    border: 1px solid rgba(255 , 255, 255, 0.5);
    width: 87%;
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 40px;
    position: relative;
    z-index: 40;
    background: #000;
}

/* Footer #############################################################*/
.footer{
    border: 1px solid rgba(255 , 255, 255, 0.2);
    border-radius: 5px;
    margin:auto;
    width: 1000px;
    height: 60px;
    background:#000;
    margin-top: 20px;
    color:white;
}
.footer-text a{
    display: inline-block;
}
.fotter-img{
    height: 30px;
    width: 30px;
}
.footer-text h4{
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-bottom:0;
}
.footer-text{
    display: inline-block;
}
.h4-2{
    font-size: 1rem!important;
}
.h4-1{
    font-weight: bold;
}

/* MODAL ################################################################*/
.modal1{
    position: absolute;
    width: 90vw!important;
    max-width: 90vw!important;
    left:3%;
}
.modal-header{
    border-bottom:0;
}
.modal1 .modal-content{
    width: 90vw;
    background: rgb(29, 27, 27);
}
.modal1 .modal-body{
    justify-content: center;
}
.modal-body img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}
.modal-btn{
    display:none;
}
.modal-body p{
    align-content: end;
    width: 100%;
    letter-spacing: 1px;
    color: #fff;
    padding-bottom: 50px;
}
.modal-header span{
    color:white;
    height: 30px;
    width: 30px;
}
.modal-body h5{
    justify-self: start;
    font-weight: bold;
    font-size: 2.3rem;
    color: rgba(255,255,255,.8);
}
.modal-body p , .modal-body img {
    justify-self: center;
}
.modal-link{
    color:#6d5f5f;
    font-weight: bold;
    font-size: 1.5rem;
}
.modal-link:hover{
    color:rgb(119, 3, 3);
}
/* Media Querys ######################################################*/

@media screen and (max-width: 1200px)and (min-width: 1051px){
  .menu-buttons{
      max-width: 23%;
  }  
  .slider-ul{
      width:90%;
  }
  .footer-text h4{
      font-size: 1rem;
  }
  .h4-2{
      font-size:.8rem!important;
  }
  .card-table{
    height: 300px;
}
.news div.news-section{
    min-height: 250px;
}
}
@media screen and (max-width: 630px){
    .nav-w{
        width: 90vw;
    }
    .card-content{
        height: 305px!important;
    }
    .cards-div{
        height: 400px!important;
    }
    .cards-21{
        height: 300px!important;
    }
    .card-table{
        height: 235px!important;

    }
}
@media screen and (max-width: 1050px){
    .slider-div{
        width: 100%;
    }
    .another-slider , .slider-container , .cards-div , .video-trailer, .cards-div2{
        width: 90%;
    }
    .video-trailer{
        margin-top: 50px;
    }
    body{
        background-size: 100vw 100vh;
    }
    .another-slider{
        position: relative;
    }
    .slider-ul{
        width:87%;
    }
    .footer{
        width: 90%;
    }
    .footer-text h4{
        font-size: 1.3rem;
    }
    .fotter-img{
        height: 20px;
        width: 20px;
    }
    .fotter-img2{
        height: 15px;
        width: 15px;
    }
    .h4-2{
        font-size:.9rem!important;
        padding-right: 10px;
    }
    .cards-div{
        height: 370px;
        margin-top:0;
        margin-bottom: 0;
    }
    .card-content{
        height: 290px;
    }
    .card-table{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .cards-1{
        width: 100%;
    }
    .cards-2{
        display:none;
    }
    .cards-21{
        display:block;
        width: 90%;
        height:250px;
        margin-bottom:40px;
    }
    .slider-description{
        height:90px;
    }
    .carousel-inner{
        height: 450px;
    }
    .slider-description{
        display: block!important;
    }
    .nav-w{
        width: 95%;
    }
    .slider{
        width: 90%;
    }
}
@media screen and (max-width:750px){
    .slider-img{
        height: 300px;
    }
    .slider{
        height: 315px;
    }
    .slider-description{
        height: 70px;
        font-size: .6rem;
        top:232px;
    }
    .video-trailer div video{
        margin-top: 12%;
    }
    .footer-text h4{
        font-size: .5rem;
    }
    .h4-2{
        font-size: .4rem;
    }
}
@media screen and (min-width: 1150px){
    .slider-container{
        width: 91%;
    }
   .news-divisor{
       height: 210px;
    }
   .carousel-inner{
        height: 450px;
    }
    .card-content{
        height: 255px;
    }
}
@media screen and (max-width: 900px)and (min-width: 700px){

    .li-nav{
        margin-right:2px;
        font-size: 1.1rem;
    }
    .li-nav a{
        font-size: 1.1rem;
    }
    #ironAo-menu label {
        z-index: 40;
    }
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
    }
    #btn-menu:checked ~ .icon-menu{
        background: red;
    }
    #btn-menu:checked ~ .label-span{
        display:none!important;
    }
}
@media screen and (max-width: 700px){
    #ironAo-menu label{
        border: solid 1px #fff;
        width: 90px!important;
        height: 75px!important;
        background: red;
        background-size: 100%;
        position: absolute;
        top:-10px;
        right: 20px;
        border-radius: 3px;
        z-index: 105!important;
    }
    .label-span{
        background-image: url("../img/menu-icon2.png");
        background-size: 100%;
        background-repeat: no-repeat;
        font-weight: bold;
        width: 70px!important;
        height: 70px!important;
        margin:auto;
        display: block;
        border-radius: 3px;
    }
    .menu-container{
        display: flex;
    }
    .after img , .before img {
        display:none;
    }
    .slider-container{
        width: 100%;
    }
    .button-left , .button-right{
        height: 100px;
        width: 80px;
        top:20%;
        display: block;
    }
    .nav-w ul{
        position: fixed!important;
        background: red;
        display:block!important;
        left:0;
        top:0;
        border-radius: 0;
        width: 100vw;
        z-index: 20;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.5s;
        z-index: 100;
    }
    .li-active{
        background: red!important;
    }
    .li-nav{
        grid-column: 2 / span 1;
        background: red;
        width:100%;
        font-size: 2.5rem;
    }
    .li-nav:nth-child(1){
        grid-row: 4 / span 1
    }
    .li-nav:nth-child(2){
        grid-row: 5 / span 1
    }
    .li-nav:nth-child(3){
        grid-row: 6 / span 1
    }
    .li-nav:nth-child(4){
        grid-row: 7 / span 1
    }
    .li-container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12,1fr);
    }
    .li-nav a:hover , .li-nav:hover{
        color: #888;
        background: red;
    }
    #ironAo-menu label {
        z-index: 40;
    }
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
        position: static;
    }
    #btn-menu:checked ~ .icon-menu{
        background: red;
        position: fixed!important;
        top: 15px;
        right: 30px;     
    }
    #btn-menu:checked ~ .spaneable{
        display: none!important;
    }

    .news-section img{
        width: 100%;
        margin-bottom:15px;
    }
    .news-section{
        max-height: 1800px;
    }
    .new-notice{
        max-height: 1800px;
    }
    .news div.news-section{
        max-height: 1800px;
        padding-right: 15px;
    }
    .news-divisor{
        height: 100px;
    }
    .slider-div{
        width: 95%;
        left:20px;
    }
    .slider-container{
        width: 100%;
    }
    .button-left , .button-right{
        height: 100px;
        width: 80px;
        top:20%;
        display: block;
    }
    .footer{
        width: 90vw;
    }
    .cards-div{
        width: 90vw;
    }
    .another-slider{
        width: 90vw;
    }
    .slider{
        width: 90vw;
        height: 300px;
    }
    .video-trailer{
        width: 90vw;
    }
    .ironAo-icon{
        width:70%;
    }
    .sword{
        height: 65px;
    }
    .ironAo-icon h1{
        font-size: 2.2rem;
    }
    .footer-text h4{
        font-size: 1rem;        
    }
    .footer-text .h4-2{
        font-size: .8rem!important;
    }
    .fotter-img{
        height: 40px;
        width: 40px;
    }
    .fotter-img2{
        height: 20px;
        width: 20px;
    }
    .footer-text{
        background: #000;
        border-radius: 3px;
        border: solid 1px grey;
        margin-bottom: 5px;
    }
    .footer{
        border: none;
        height: 150px;
        background: none;
    }
    #mixedSlider .MS-controls button{
        opacity: 1;
    }
}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
      width: 100%;
    }
  }

  @media (max-width: 991px) {

    #basicSlider .MS-content .item { width: 25%; }
    }
    @media (max-width: 767px) {
    
    #basicSlider .MS-content .item { width: 35%; }
    }
    #mixedSlider .MS-controls .MS-left {
        top: 35%;
        left: 50px;
        width: 75px;
        height: 150px;
      }
      #mixedSlider .MS-controls .MS-right {
        top: 35%;
        right: 50px;
        width: 75px;
        height: 150px;
      }
    @media (max-width: 500px) {
    
    #basicSlider .MS-content .item { width: 50%; }
    }
    
    @media (max-width: 767px) {
        .video2{
            height: 60vh;
        }
      }

      @media (max-width: 992px) {
        #mixedSlider .MS-controls button {
          font-size: 30px;
        }
        .MS-content{
            width: 90%!important;
            margin-bottom: 40px!important;
        }
        .mixedSlider-container{
            width: 90%!important;
        }
      }
      @media (max-width: 767px) {
        #mixedSlider .MS-controls button {
          font-size: 20px;
        }
        .MS-content{
            width: 90%!important;
            margin-bottom: 40px!important;
        }
        .mixedSlider-container{
            width: 90%!important;
        }
        
      }
      @media (max-width: 767px) {
        
      }