*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
	font-family: play;
	src:url(../fonts/Play-Regular.ttf);
}
/* Divisor #############################################################################*/
.line{
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgb(49, 49, 49) 0%,rgb(39, 39, 39) 65%,rgb(149, 25, 25) 66%,rgb(149, 25, 25) 100%);
}

body{
    font-family: play;
    background: #000;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-image: url("../img/fondo.png");
    background-attachment: fixed;
    padding-bottom: 50px;
}
/* Menu #######################################################################################*/

.menu-container{
    margin:auto;
    padding: 0;
    align-items: unset;
    margin-bottom: 20px;
    height: 80px;
    top:5px;
}

.menu-list {
    position: relative;
    padding:0;
}

a:link{
    text-decoration: none;
}

.sword {
    position: relative;
    width: 100%;
    bottom:5px;
}
#ironAo-menu{
    padding:0;
}
.ironAo-icon{
    top:-12px;
    margin:0;
    padding:0;
    width: 35%;
    position:relative;
    z-index: 20;
}
.ironAo-icon a{
    width: 100%;
    margin:0;
}
.h1 {
    position:absolute;
    color:white;
}

.h1 strong{
    color: rgb(172, 33, 33)
}

.menu-buttons{
    max-width: 24%;
    background: linear-gradient(to bottom, rgb(86, 86, 86) 0%,rgb(47, 48, 48) 50%,rgb(5, 5, 5) 51%,rgb(0, 0, 0) 100%);
    border-radius: 3px;
    height: 35px;
    margin-left:5px;
}

.menu-buttons a{
    color: white;
    font-size: 1.2rem;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    height: 35px;
}
.menu-buttons a:hover{
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(83, 83, 83) 0%,rgb(39, 39, 39) 50%,rgb(27, 27, 27) 51%,rgb(22, 22, 22) 100%);
}
.menu-buttons a:active{
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(196, 66, 66) 0%,rgb(184, 64, 64) 50%,rgb(255, 3, 3) 51%,rgb(240, 14, 14) 100%);
}

/* Slider ###############################################################################*/

.slider{
    width: 68vw;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(90, 89, 89);
    background: #000;
}

.slider-img{
    height: 420px;
    padding: 10px 10px 70px 10px;
    
}

.slider-description{
    height: 70px;
    overflow:hidden;
    padding:0;
    margin:0;
    top:353px;
    left:0;
}

.slider-description h4 ,.slider-description p{
    text-align: start;
    margin-left: 20px;
}

.slider-description h4{
    padding-top: 4px;
    font-size: 1.3rem;
}

.slider-arrows{
    position:relative;
    top:-30px;
}

.divider{
    width: 40vw;
}

/* Another Slider ##############################################################*/

.slider-move:nth-child(1){
    left:0;
    -moz-animation:move-image1 10s infinite linear;
    -webkit-animation: move-image1 10s infinite linear ;
    animation:move-image1 10s infinite linear;
}
.slider-move:nth-child(2){
    left:225px;
    -moz-animation:move-image2 20s infinite linear;
    -webkit-animation: move-image2 20s infinite linear ;
    animation:move-image2 20s infinite linear;
}
.slider-move:nth-child(3){
    left:450px;
    -moz-animation:move-image3 10s infinite linear;
    -webkit-animation: move-image3 10s infinite linear ;
    animation:move-image3 10s infinite linear;
}
.slider-move:nth-child(4){
    left:675px;
    -moz-animation:move-image4 10s infinite linear;
    -webkit-animation: move-image4 10s infinite linear ;
    animation:move-image4 10s infinite linear;
}
.slider-move:nth-child(5){
    left:900px;
    -moz-animation:move-image5 10s infinite linear;
    -webkit-animation: move-image5 10s infinite linear ;
    animation:move-image5 10s infinite linear;
}
.slider-move:nth-child(6){
    left:1125px;
    -moz-animation:move-image6 10s infinite linear;
    -webkit-animation: move-image6 10s infinite linear ;
    animation:move-image6 10s infinite linear;
}
.another-slider{
    width: 68vw;
    margin:auto;
}
.imagenes-slider{
    height: 175px;
    padding: 14px 5px;
}
.slider-div{
    margin-top: 50px;
}
.slider-ul{
    position: relative;
    margin-left: 40px;
    height: 175px;
    width: 91%;
    overflow: hidden;
    background:#000;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 4px;
}

.slider-ul a{
    height: 175px;
    width:230px;
    display:block;
}

.slider-div::after{
    content:"";
    display:inline-block;
    background-image: url("../img/lateral2.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index:5;
    width: 40px;
    height: 175px; 
}

.slider-div::before{
    content: "";
    display:inline-block;
    background-image: url("../img/lateral1.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index:5;
    width: 40px;
    height: 175px; 
}

div.slider-ul div{
    width: 230px;
    height: 175px;
    position: absolute;
}

/*Cards###############################################################*/
.cards-3{
    width: 100%!important;
}
.cards-div2{
    width: 68vw;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
.cards-div{
    width: 68vw;
    margin:auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.cards-1 , .cards-2{
    display: inline-block;
    height: 100%;
    overflow:hidden;
}

.cards-2{
    width: 34%;
}

.cards-1{
    width: 64%;
}

.cards-1 img{
    position: relative;
    z-index: 10;
}

.cards-1 div h4 , .cards-2 div h4{
    box-shadow: 0 5px rgba(255, 0, 0, 1);
    margin-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 290px;
    position:absolute;
    color:white;
    z-index: 30;
}
.cards-2 div img{
    position:relative;
    z-index: 10;
}
.cards-2 div h4{
    width:240px;
}
.news div.news-section{
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 30px;
    padding-left:15px;
    padding-right: 25px;
    color: white;
    font-size: .9rem;
    height: 250px;
}
.news{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 50px;
    padding-left:15px;
    padding-right: 25px;
    padding-bottom:60px;
    color: white;
    font-size: .9rem;
}
.new-notice{
    max-height: 400px;
}
.news-divisor{
    position:relative;
    height: 150px;
    overflow: hidden;
}
.news a{
    position:relative;
    z-index: 10;
    padding-top: 10px;
}
.news-divisor img{
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right: 0;
    margin:0 auto;
}
.news-section p{
    padding-bottom: 15px;
}
.news-section h5{
    font-size: 1.5rem;
}
.news-section  img{
    float: left;
    margin-top:10px;
    margin-right: 15px;
    padding:5px;
    border: 1px solid white;
    height: 200px;
    width: 200px;
}
.card-content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    position:relative;
    top:-14px;
    background: #000;
    padding-top: 30px;
    padding-left:15px;
    padding-right: 25px;
    color: white;
    font-size: .9rem;
    height: 255px;
}
.card-content p, .news p{
    margin-bottom: 1rem;
    max-height: 170px;
    overflow:hidden;
}
.card-content a, .news a{
    display:inline-block;
    padding-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}
        /*Card Table####*/
.card-table{
    height: 259px;
    background: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    top:-20px;
    position: relative;
    padding-top: 30px;
    padding-left:15px;
    padding-right: 25px;
    color: white;
}
.card-table li{
    list-style: none;
    font-size: 1.2rem;
}
.card-table{
    padding-top: 40px;
}

/* Video ##############################################################*/  

.video-trailer{
    margin:auto;
    width: 68vw;
    max-height: 470px;
}

.video1 h4{
    box-shadow: 0 5px rgba(255, 0, 0, 1);
    margin-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 290px;
    position:absolute;
    color:white;
    z-index: 30;
}
.video1 img {
    position:relative;
    z-index: 10;
}
.video2{
    position: relative;
    background: #000;
    top:-17px;
    border:solid 0.5px rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.video-trailer div video{
    border: 1px solid rgba(255 , 255, 255, 0.5);
    width: 87%;
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 40px;
    position: relative;
    z-index: 40;
    background: #000;
}

/* Footer #############################################################*/
.footer{
    border: 1px solid rgba(255 , 255, 255, 0.2);
    border-radius: 5px;
    margin:auto;
    width: 68vw;
    height: 60px;
    background:#000;
    margin-top: 20px;
    color:white;
}
.footer-text a{
    display: inline-block;
}
.footer-text h4{
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-bottom:0;
}
.footer-text{
    display: inline-block;
}
.h4-2{
    font-size: 1rem!important;
}
.h4-1{
    font-weight: bold;
}
/* Media Querys ######################################################*/

@media screen and (max-width: 1200px)and (min-width: 1001px){
  .menu-buttons{
      max-width: 23%;
  }  
  .slider-ul{
      width:90%;
  }
}

@media screen and (max-width: 1000px){
    .slider-ul{
        width:87%;
    }
}